@model HealthCore.Models.User


<div class="modal-header" style="text-align: center;background-color: #d4d7d9; border-radius:5px;">
    <h5> Добавление пользователя</h5>
</div>
<div class="modal-body">
    <input type="hidden" class="form-control btn-block" id="UserModif" value="@User.Identity?.Name"/>
        
    <label>Login</label>
    <input type="text" class="form-control btn-block" id="Login" />

    <label>Password</label>
    <input type="text" class="form-control btn-block" id="Password" />

    <label>Сотрудник</label>
    <select class="form-select" contenteditable="true" id="idUS">
                   <option value="0" selected >Выберите сотрудника</option>
                    @foreach (var fil in ViewBag.Employee)
                    {                       
                            <option value="@fil.Id"> @fil.FirstName @fil.LastName @fil.MiddleName</option>
                       
                    }
                                       
                </select>

                <center><label>Роли:</label></center>
            
           @{ 
               int u = 0;
           }
<table id="RT">

    @foreach (var item in ViewBag.Rol)
    {
        u++;
        <tr style="background-color:white">
            <td>
                <input type="checkbox" id="role_@u" class="checkbox" name="inList" value="@item.Id">
            </td>
            <td>&nbsp;&nbsp;</td>
            <td>
                @item.Priznak
            </td>
        </tr>
    }
</table>

</div>
<center>
<div class="modal-footer" style="text-align:center">
    <button type="submit" class="btn btn-outline-primary" style="min-width:100px" onclick="LoginPasswordSave(0)">Сохранить</button>
    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" style="min-width:100px" >Отмена</button>
    
</div>
</center>



