@model IEnumerable<HealthCore.Models.Zayavlenie>

<table class="table table-striped">
    <tr>       
            <th>
                Номер
            </th>
       
        <th>
            Дата
        </th>

        <th>
            Протокол
        </th>

        <th>
           Сотрудник
        </th>

        <th>
            С
        </th>

        <th>
            По
        </th>

        <th>
            На кого
        </th>

        <th>
            Санаторий
        </th>               
               
        <th>
            Оплата
        </th>  

        <th>
            &nbsp;
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.Priznak == "не принято")
            {
                <td style="background-color:#FCE0E2;">
                    @Html.DisplayFor(modelItem => item.NumberZ)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NumberZ)
            </td>

            }
            <td>
                @{
                    string DB = Convert.ToDateTime(item.DateZ).ToString("d");
                    if(item.DateZ == null)
                    {
                        DB = "";
                    }
                }
                @Html.DisplayFor(modelItem => DB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protocol.NumberP) 
            </td>
            <td>
                @item.Employee.FirstName @item.Employee.LastName @item.Employee.MiddleName
            </td>
            <td>
                @{
                    string DBS = Convert.ToDateTime(item.S).ToString("d");
                    if(item.S == null)
                    {
                        DBS = "";
                    }
                }
                @Html.DisplayFor(modelItem => DBS)
            </td>
            <td>
                @{
                    string DBPO = Convert.ToDateTime(item.Po).ToString("d");
                    if(item.Po == null)
                    {
                        DBPO = "";
                    }
                }
                @Html.DisplayFor(modelItem => DBPO) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Who) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sanatorium.Name)
            </td>
                
            @if(item.PriznakOplata == 1)
                {
            <td>
                ДА
            </td>
                }
                else
                {
            <td style="color:red">
                <b>НЕТ</b>
            </td>  
                }

            <td>
                <button type="button" class="btn btn-outline-primary"  onclick="ZayEdit(@item.Id)" title="Редактировать"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
</svg></button>
                <button type="button" class="btn btn-outline-danger"  onclick="DeleteZay(@item.Id)" title="Удалить"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button>
            
                <button type="button" class="btn btn-outline-warning" onclick="Report(@item.Id)" title="Заявление"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
  <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
  <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
</svg></button>

<button type="button" class="btn btn-outline-warning" onclick="ReportOplata(@item.Id)" title="Д/З на оплату"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
  <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
  <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
</svg></button>

<button type="button" class="btn btn-outline-warning" onclick="ReportDopOplata(@item.Id)" title="Д/З на допуслуги"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-fill" viewBox="0 0 16 16">
  <path d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3z"/>
</svg></button>

@if(item.Priznak == "не принято")
{
<button type="button" class="btn btn-outline-primary" onclick="PutZay(@item.Id)" title="Принять"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
  <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
</svg></button>
}        
            </td>
        </tr>
    }

</table>